{% extends 'base.html' %}

{% block content %}
    <style>
        #title {
            font-size: 25px;
            font-weight: lighter;
            padding-top: 15px;
        }

        .center-y {

            vertical-align: middle;
            float: none;
        }



    </style>

{#    <div class="row fluid">#}
{#        <div class="col-lg-12  center-y">#}
{#            <div class="panel panel-default text-center">#}
{#              <div class="panel-heading">#}
{#                <h3 class="panel-title" id="title">Login</h3>#}
{#              </div>#}
{#              <div class="panel-body">#}
{#                {% for form in auth_form %}#}
{#                    <div>#}
{#                        {{ form.label_tag }} {{ form }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#                #}
{#              </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


<div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
        <div class="panel-heading">
            <h3 class="panel-title">Sign In</h3>
        </div>
        <div class="panel-body">
            <form action="{{ next }}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
{#            <form role="form">#}
{#                <fieldset>#}
{#                      <form action="{% url 'login' %}" method="post">#}
{#                            {% csrf_token %}#}
{#                                {% for field in auth_form %}#}
{#                                    <div class="fieldWrapper">#}
{#                                        {{ field.errors }}#}
{#                                        {{ field.label_tag }} {{ field }}#}
{#                                    </div>#}
{#                                {%  endfor %}#}
{#                            <input type="submit" value="Login" />#}
{#                            <input type="hidden" name="next" value="{{ next }}" />#}
{#                      </form>#}
{#                    <div class="form-group">#}
{#                        <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <input class="form-control" placeholder="Password" name="password" type="password" value="">#}
{#                    </div>#}
{#                    <div class="checkbox">#}
{#                        <label>#}
{#                            <input name="remember" type="checkbox" value="Remember Me">Remember Me#}
{#                        </label>#}
{#                    </div>#}
{#                    <!-- Change this to a button or input when using this as a form -->#}
{#                    <a href="/" type="submit" class="btn btn-sm btn-success">Login</a>#}
{#                </fieldset>#}
{#            </form>#}
        </div>
    </div>
    </div>
</div>
<br>


{% endblock %}