{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block content %}

    <style>
    .form_fields {
        padding: 10px 0;

    }
    </style>
    <div class="row">

        <div class="col-md-12">
        <div class="modal-dialog" style="margin-bottom:0">
            <div class="modal-content">
                <div class="panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add/Edit a Car</h3>
                </div>

                <div class="panel-body">
                    {% if not edit %}
                        <form action="{% url 'add_car' %}" method="post">
                    {% else %}
                        <form action="{% url 'edit_car' car.id %}" method="post">
                    {% endif %}
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        <div class="form_fields">
                            {{ form.as_p }}
                        </div>
                        <input class="btn btn-sm btn-success" type="submit" value="Submit" />
                    </form>
                </div>
            </div>
            </div>
        </div>


        </div>

    </div>


    <script>
        $(document).ready(function() {
            $("input").addClass("form-control");
            $(":checkbox").addClass("checkbox");

            $("#id_date").addClass("date");
            $("#id_date_purchased").datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>

{% endblock %}